{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Customer Registration</h3>
   <hr>

   <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
    {% for message in mesasges %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}

    {% for f in form%}
    {{f.label_tag}}
    {{f}}
    {% endfor %}
    <small><a href="{% url 'changepassword' %}">Reset password</a> </small><br>


    <input type="submit" >
    {% if form.non_field_errors %}
     {% for e in form.non_field_errors %}
      <p class="alert alert-danger my-3">{{e}}</p>
     {% endfor %}
    {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}