{% extends 'app/base.html'%}
{% load static %}
{% block title %}Change password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">this si lingkside</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form novalidate method="post">
       {% csrf_token %}
       {% for f in form %}
       {{f.label_tag}}{{f}}<small class="text-danger">{{f.errors|striptags}}</small><br>
        {% endfor %}   <a href="{% url 'resetpassword' %}">forget password?</a>
       <br>
        <input type="submit" value="Login">
       <br>

       {% if form.none_feld_errors %}
       {% for e in form.none_field_errors %}
       <p>{{e}}</p>
       {% endfor %}
       {% endif %}


   </form>
  </div>
 </div>
</div>
{% endblock main-content %}