{% extends 'app/base.html'%}
{% load static %}
{% block title %}Change password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">this si lingkside</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form novalidate method="">
       <h3>A message has been sent to your email</h3><br>
    <a href="www.gmail.com"> Check your email inbox.</a>


   </form>
  </div>
 </div>
</div>
{% endblock main-content %}