{% extends 'app/base.html'%}
{% load static %}
{% block title %}Change password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">.....</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form action=""   method="post" class="shadow p-5" >
       {% csrf_token %}
       {% for f in form %}
       <div class="form-group">
       {{f.label_tag}}{{f}}<small class="text-danger">{{f.errors|striptags}}</small><br>
           </div>
        {% endfor %}
       <a href="{%url 'login' %}">Login</a>
       <br>
       <input type="submit" value="Submit">
       {% if form.none_feld_errors %}
       {% for e in form.none_field_errors %}
       <p>{{e}}</p>
       {% endfor %}
       {% endif %}


   </form>
  </div>
 </div>
</div>

{% endblock main-content %}